PidFile={{ zabbix_agent_pid_file}}
LogFile={{ zabbix_agent_log_file }}
LogFileSize=0
Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}
Hostname={{ zabbix_server_hostname }}
#Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf
